.fab {
  width: 36px;
  height: 36px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fa-html5 {
  background-image: url(./icons/html5.svg);
}

.fa-css3-alt {
  background-image: url(./icons/css3-alt.svg);
}

.fa-js {
  background-image: url(./icons/js.svg);
}

.fa-react {
  background-image: url(./icons/react.svg);
}

.fa-vue {
  background-image: url(./icons/vuejs.svg);
}

.fa-figma {
  background-image: url(./icons/figma.svg);
}

.fa-git {
  background-image: url(./icons/git.svg);
}

.fa-chrome {
  background-image: url(./icons/chrome.svg);
}

.fa-terminal {
  background-image: url(./icons/terminal-solid.svg);
}

.fa-universal-access {
  background-image: url(./icons/universal-access-solid.svg);
}

.fa-npm {
  background-image: url(./icons/npm.svg);
}

.fa-node {
  background-image: url(./icons/node.svg);
}

.fa-github {
  background-image: url(./icons/github.svg);
}
