@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}




.intro {
  position: relative;
}

.intro:before {
  width: 0;
  animation-name: intro_width;
  animation-duration: 1.08s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}
.intro:after {
  width: 0;
  animation-name: intro_width;
  animation-duration: 1.08s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

.intro_line:before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  background: linear-gradient(to right,
      hsl(var(--border)),
      hsl(var(--border)) 50%,
      hsl(var(--background)) 0,
      hsl(var(--background)));
  background-size: 5px 1px;
  -webkit-mask: linear-gradient(to left,
  hsl(var(--background)) 93%, #0000),
      linear-gradient(to right, hsl(var(--background)) 93%, #0000), 
      linear-gradient(#000, #000);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
}
.intro_line:after {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  background: linear-gradient(to right,
      hsl(var(--border)),
      hsl(var(--border)) 50%,
      hsl(var(--background)) 0,
      hsl(var(--background)));
  background-size: 5px 1px;
  -webkit-mask: linear-gradient(to left,
  hsl(var(--background)) 93%, #0000),
      linear-gradient(to right, hsl(var(--background)) 93%, #0000), 
      linear-gradient(#000, #000);
  -webkit-mask-composite: destination-in;
  mask-composite: exclude;
}

.intro_line_container_line {
  width: 1px;
  height: 0;
  animation-name: intro_height;
  animation-duration: 1.08s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  background: linear-gradient(180deg,  hsl(var(--border)),  hsl(var(--border)) 50%, #0000 0, #0000);

  background-size: 1px 5px;
  -webkit-mask: linear-gradient(to top, hsl(var(--background)) 50%, #0000);
}


.intro_line_container_relate_line {
  width: 1px;
  height: 0;
  animation-name: intro_height_extra;
  animation-duration: 1.08s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  background: linear-gradient(180deg,  hsl(var(--border)),  hsl(var(--border)) 50%, #0000 0, #0000);

  background-size: 1px 5px;
}


.intro_line_relative_line {
  width: 1px;
  height: 0;
  animation-name: intro_height;
  animation-duration: 1.08s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  background: linear-gradient(180deg,  hsl(var(--border)),  hsl(var(--border)) 50%, #0000 0, #0000);

  background-size: 1px 5px;
}

@keyframes intro_width {
  100% {
    width: calc(100%);
  }
}

@keyframes intro_height {
  100% {
    height: calc(100%);
  }
}
@keyframes intro_height_extra {
  100% {
    height: calc(100% + 50px);
  }
}